.host-background {
    background-image: url("src/assets/images/background/9.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // background-image: -webkit-radial-gradient(10% 0, farthest-side ellipse, #414e60 20%, #94a3b1);
}